.imgBg {
    background-image: url('https://res.cloudinary.com/dicfymkdl/image/upload/v1725274709/forest_tfx3wf.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay {
    background-color:#00000060;
}